.body {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #0578a5;
  background-color: #c2d5f8;
  padding-top: 10vh;
}

.row-header {
  margin: 0px auto;
  padding: 0px auto;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer {
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
  background-color: #c2d5f8;
}

.navbar-dark {
  background-color: #aac4f3;
}

.page-enter {
  opacity: 0.01;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 300ms ease-in;
}

.page-exit {
  opacity: 1;
  transform: translateX(0%);
}

.page-exit-active {
  opacity: 0.01;
  transform: translateX(100%);
  transition: all 300 ms ease-out;
}
.me {
  width: 70%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: 20%;
}
.navfont {
  font: 20px Arial bold, sans-serif;
  padding-top: 100;
  padding: 4;
}
mark {
  background-color: rgb(136, 219, 240);
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
